VITE_SUPABASE_PROJECT_ID="eohsyydvvbhjsfpegoob"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvaHN5eWR2dmJoanNmcGVnb29iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MTcxNzIsImV4cCI6MjA5MTQ5MzE3Mn0.b7YViWG_pe37q1uFaUrdskqZheAOA3ycXMuB04nFp1M"
VITE_SUPABASE_URL="https://eohsyydvvbhjsfpegoob.supabase.co"
